In [5]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in ./anaconda3/lib/python3.13/site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in ./anaconda3/lib/python3.13/site-packages (from scikit-learn) (2.1.3)
Requirement already satisfied: scipy>=1.6.0 in ./anaconda3/lib/python3.13/site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in ./anaconda3/lib/python3.13/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./anaconda3/lib/python3.13/site-packages (from scikit-learn) (3.5.0)

In [6]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [2]:
df = pd.read_csv("generated_energy_data.csv")

In [3]:
df.head()

,event_id,timestamp,room_id,room_name,occupancy,temperature,appliance_id,appliance_name,status,power_watts,voltage,current_amp,is_anomaly
0,4165458f-4f64-4f75-a4b4-efae823d4136,2025-12-07 21:21:22,R001,Living Room,2,28.92,A001,Light,on,10.47,210,0.050,False
1,1ac30cb4-b918-407a-91bb-f9dba7322231,2025-12-07 21:21:22,R001,Living Room,2,28.92,A002,Fan,on,38.68,212,0.182,False
2,58278ecd-9420-454d-bbb9-07eef567e40c,2025-12-07 21:21:22,R001,Living Room,2,28.92,A003,TV,off,0.00,180,0.000,True
3,ac73db8b-1d77-4b45-adf1-277f94f517aa,2025-12-07 21:21:22,R001,Living Room,2,28.92,A004,AC,on,1208.29,226,5.346,False
4,3a1c2e31-425b-45ff-ba60-e445be4852ef,2025-12-07 21:21:22,R002,Bedroom 1,0,26.62,A001,Light,off,0.00,232,0.000,False

In [14]:
# Living Room 
dflivingroom = df.loc[df['room_name']=='Living Room',['room_id','room_name','timestamp','occupancy','temperature','appliance_id','appliance_name','status','power_watts','voltage','current_amp','is_anomaly']]

In [15]:
dflivingroom.head()

,room_id,room_name,timestamp,occupancy,temperature,appliance_id,appliance_name,status,power_watts,voltage,current_amp,is_anomaly
0,R001,Living Room,2025-12-07 21:21:22,2,28.92,A001,Light,on,10.47,210,0.050,False
1,R001,Living Room,2025-12-07 21:21:22,2,28.92,A002,Fan,on,38.68,212,0.182,False
2,R001,Living Room,2025-12-07 21:21:22,2,28.92,A003,TV,off,0.00,180,0.000,True
3,R001,Living Room,2025-12-07 21:21:22,2,28.92,A004,AC,on,1208.29,226,5.346,False
16,R001,Living Room,2025-12-07 21:51:22,1,31.36,A001,Light,on,31.61,238,0.133,False

In [20]:
def defineroom(DataframeName,roomname):
    DataFrameName = df.loc[df['room_name']==roomname,['room_id','room_name','timestamp','occupancy','temperature','appliance_id','appliance_name','status','power_watts','voltage','current_amp','is_anomaly']]
    return DataFrameName.head()
    
defineroom("dfbedroom1","Bedroom 1")

,room_id,room_name,timestamp,occupancy,temperature,appliance_id,appliance_name,status,power_watts,voltage,current_amp,is_anomaly
4,R002,Bedroom 1,2025-12-07 21:21:22,0,26.62,A001,Light,off,0.00,232,0.000,False
5,R002,Bedroom 1,2025-12-07 21:21:22,0,26.62,A002,Fan,on,64.99,234,0.278,True
6,R002,Bedroom 1,2025-12-07 21:21:22,0,26.62,A004,AC,off,0.00,225,0.000,False
20,R002,Bedroom 1,2025-12-07 21:51:22,0,27.11,A001,Light,off,0.00,221,0.000,False
21,R002,Bedroom 1,2025-12-07 21:51:22,0,27.11,A002,Fan,on,64.70,237,0.273,True

In [22]:
dfbedroom1=defineroom("dfbedroom1","Bedroom 1")

In [23]:
dfbedroom1

,room_id,room_name,timestamp,occupancy,temperature,appliance_id,appliance_name,status,power_watts,voltage,current_amp,is_anomaly
4,R002,Bedroom 1,2025-12-07 21:21:22,0,26.62,A001,Light,off,0.00,232,0.000,False
5,R002,Bedroom 1,2025-12-07 21:21:22,0,26.62,A002,Fan,on,64.99,234,0.278,True
6,R002,Bedroom 1,2025-12-07 21:21:22,0,26.62,A004,AC,off,0.00,225,0.000,False
20,R002,Bedroom 1,2025-12-07 21:51:22,0,27.11,A001,Light,off,0.00,221,0.000,False
21,R002,Bedroom 1,2025-12-07 21:51:22,0,27.11,A002,Fan,on,64.70,237,0.273,True

In [24]:
arr = df['room_name']
print((arr.unique()))

['Living Room' 'Bedroom 1' 'Bedroom 2' 'Kitchen' 'Study Room' 'Bathroom']

In [25]:
dfBedroom2 = defineroom("dfbedroom2", "Bedroom 2")

In [26]:
dfKitchen = defineroom("dfKitchen", "Kitchen")

In [27]:
dfStudyRoom= defineroom("dfStudyRoom", "Study Room")

In [28]:
dfBathroom= defineroom("dfBathroom", "Bathroom")